name: Check Bats sample
on:
  push:
  pull_request:
  schedule:
    # Run once per week to ensure that the pipeline is okay.
    - cron: "19 23 * * 0"

permissions:
  contents: read

jobs:
  check:
    name: "Check"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          submodules: true

      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          file: docker/Dockerfile
          push: false
          tags: myimage
      
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y jq

      - name: Run tests
        run: cd bats && bats/bin/bats test.bats
