name: Check Testcontainers sample
on:
  push:
  pull_request:
  schedule:
    # Run once per week to ensure that the pipeline is okay.
    - cron: "19 23 * * 0"

permissions:
  contents: read

jobs:
  check:
    name: "Check"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          file: docker/Dockerfile
          push: false
          tags: myimage
      
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Run tests
        run: cd testcontainers && ./jbang -Djunit.platform.reporting.open.xml.enabled=true test.java
